body,html{
    margin: 0;
    padding: 0;
  }
  
  header{
    width: 100%;
    height: 90px;
    background-color: #282828;
  }
  
  h1{
    position:absolute;
    padding: 2px;
    float: left;
    margin-top: 2%;
    font-family: 'Alfa Slab One', cursive;
    color: #38b6ff;
    margin-left: 2%;
  
  }
  
  span{
    color: #ffffff;
  
  }
  
  ul{
    width: auto;
    float:right;
    margin-top:22px;
  
  }
  
  li{
    display: inline-block;
    padding:15px 30px;
  }
  
  a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
  }
  
  a:hover{
    color: #38b6ff;
    transition: 0.5s;
  }
  
  img{
    width: 100%;
    margin-top: -3px;
  
  }
  
  #hero-text {
      width: 50%;
      

  }

 h2 {
     padding-left: 100px;
 }

 #hero-p {
    padding-left: 100px;

}

.flex-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  
}

.box {
  width: 200px;
  height:200px;
  border: 1px solid black;
  border-radius: 20px;
  flex: 1;
}

body {

  margin:0px;
  padding:0px;
}

.card {

  padding: 0px;
}

section {

  margin: 10px;
  align-items: center;
}

#container-heading {

  padding-left: 40%;
}

section p {

  padding: 10%;
  align-items: center;
  display: block;
  
}

