body,html{
    margin: 0;
    padding: 0;
  }
  
  header{
    width: 100%;
    height: 90px;
    background-color: #1f2937;
  }
  
  h1{
    position:absolute;
    padding: 2px;
    float: left;
    margin-top: 2%;
    font-family: 'Alfa Slab One', cursive;
    color: #38b6ff;
    margin-left: 2%;
  
  }
  
  span{
    color: #ffffff;
  
  }
  
  ul{
    width: auto;
    float:right;
    margin-top:22px;
  
  }
  
  li{
    display: inline-block;
    padding:15px 30px;
  }
  
  a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
  }
  
  a:hover{
    color: #38b6ff;
    transition: 0.5s;
  }
  
  img{
    width: 100%;
    margin-top: -3px;
  
  }
  
  #hero-text {
      width: 50%;
      

  }

 h2 {
     padding-left: 100px;
 }

 #hero-p {
    padding-left: 100px;

}

.flex-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  
  
}

.box {
  width: 200px;
  height:200px;
  border: 3px solid #3882F6;
  border-radius: 20px;
  flex: 1;
}

body {

  margin:0px;
  padding:0px;
  
  
  
}

.card {

  padding: 0px;
}

section {

  margin: 10px;
  margin-top:0px;
  align-items: center;
  
}

#container-heading {

  padding-left: 40%;
}

section p {

  padding: 10%;
  align-items: center;
  display: block;
  
}

#quote {

  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 10px;
  background-color: #e5e7eb;
}

#quote-thor {

  padding: 0px;
  padding-left:60%;
  padding-bottom: 100px;
  background-color: #e5e7eb;
}

#quote-section {

  background-color: #e5e7eb;
}

#call-to-action {

  
  background-color: #3882F6;
  border-radius: 10px;
  width: 800px;
  height: 100px;
  padding: 5px;
  padding-left:40px;
  margin-left: 250px ;
  margin-bottom: 150px;
  
 
  
  
  
}

#button {
  

  
  float: right;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius:5px;
  width: 100px;
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: -70px;
  margin-bottom: 30px;
  margin-right: 10px;
  position: relative;
  padding-left: 45px;
}

main {

  background-color: #1f2937;
  padding-top:50px;
  padding-bottom:50px;

}

#hero-button {

  background-color: #3882F6;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius:5px;
  width: 100px;
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 45px;
  margin-left: 100px;

}

footer  {

  text-align: center;
  background-color: #1f2937;
  height: 100px;
  padding-top: 50px;
}
